
.hed{
    height:70px;
    margin-top: 50px;

}

.itm{
    height: auto;
    width:1170px
}

.items{
    min-height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:column;
    gap: 40px;
}

.titles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1170px;
    height: 72px;
    gap:270px;
    background-color: white;
    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    color: black;
    border-radius:4px;
}
.item{
    display:grid;
    grid-template-columns: repeat(4 , 1fr);
    place-items: center;
    min-height: 100px;
    width: 1170px;
    height: 72px;
    background-color: white;
    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.1);
    color: black;
    border-radius:4px;
}

.brand{
    display:flex;
    gap:10px;
    height: 56px;
    font-size: 16px;
}
.remove{
    background:red;
    border: none;
    width: 24px;
    position: absolute;
    height:24px;
    font-size:16px;
    border-radius: 50%;
    color: white;
    display: none;
}
.brand:hover > .remove{
    display: block;
}

.c{
    width: 72px !important;
    height: 44px;
    border-radius: 4px;
    border: grey 1px solid;
    display: flex;
    justify-content:space-around;
    align-items:center;

}
.c .z{
    height: 32px;
    width: 16px;
    background: transparent;
    border: none;
    font-size:5px;
}
.z button{
    background:transparent;
    border:none;
    color:black;
    font-size: 10px;

}
.bt{
    width:1170px;
    height: 56px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.bt button{
    width: 218px;
    height:56px;
    background: transparent;
    border-radius:4px;
    border:2px solid grey;
}






.total{
    width: 1170px;
    height:324px;
    display: flex;
    justify-content: space-between;
    margin-top:50px;
    margin-left: -30px;
}

.cod{
    width: 572px;
    display: flex;
    justify-content: center;
    height: 56px;
    gap: 56px;
}
.cod input{
    width: 300px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid grey ;
    background-color: transparent;
    color: black;
}
.cod button{
    width: 211px;
    height: 56px;
    background-color: #DB4444;
    color:white;
    border: none;
}
.sub{
    width: 470px;
    height:324px;
    border: 1.5px solid black;
    border-radius: 4px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.secrows{
    width:95%;
    height: 168px;
}
.rows{
    width: 100%;
    height: 56px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

.sub button{
    width: 260px;
    height:56px;
    border:none;
    background-color: #DB4444;
    color: white;
    border-radius: 4px;
}

@media (max-width: 992px){
    .itm{
        width:100%;
        margin-bottom: -300px;
    }
    p{
        font-size: 13px;
    }
    .titles{
        width: 100%;
        gap: 20px;
        font-size:12px
    }
    .items , .item{
        width:100%;
    }
    .brand p{
        font-size:12px;
    }
    .c{
        width: 25px;
        height:40px;
    }
    .total{
        flex-direction: column;
        gap: 50px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .cod{
        display: none;
    }
    .sub{
        width: 90%;
        margin-left: 50px;
    }
    .sub h1{
        margin-left: 0px !important;
    }
    .bt{
        width: 100%;
    }
    .nothing{
        display: none;
    }
}