footer{
    color:white;
    background-color: black;
    height:440px;
    width:100%;
    display: grid;
    place-items: center;
    margin-top:500px
}
.foot{
    width: 1170px;
    height: 236px;
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    align-items: flex-start;
    gap: 87px;
}
ul{
    list-style:none;
    margin-left: -30px;
}

@media (max-width:992px){
    footer{
        height:1200px;
    }
    .foot{
        width: 90%;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
    }
}