.scss{
    width:50%;
    height: 781px;
    display: grid;
    place-items: center;
}

.back{
    background-image: url('https://s3-alpha-sig.figma.com/img/75f3/94c0/a1c7dc5b68a42239311e510f54d8cd59?Expires=1740960000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=t8wZHsu4t6sGNRdp2hgNCK-cXVlo~fej8Sdy0iSiC~D6BiHQRn9qjOYV3lC~nE1De9jnl1Pu095mw5rEzp5XWlbk8Tx19uwLGDZ1VSmq-GouE8aVcN2XzrKcx8~45HTfIYh7oCd23~kM-6FSBWy1FyDwXxSfQQ0bH05tIEST6KSrtqldRsZequVOhDprGo0YElOaW9z3YwZzC4l7XPRvNveG-UlHzbNQyp8H3M89yPcGqGh7u~tDPGdZ1z49WiEYwbwgqInrjfb-AJL9SkkqKDTJH8TsgFxL-4W7XLim9cldWC3vsFy-GMiC0cHJyKQQEk2dkdFumix~chKrppmejA__');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cont322{
    width: 370px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    height:520px;
}

.formsim {
    width:370px  !important;
    height:464px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;

}
.csc{
    height:176px;
    width:370px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
 .signs{
    width:100%  !important;
    height: 32px!important;
    background-color: transparent !important;
    border-bottom: 1px solid grey !important;
}
.creted{
    width:370px;
    height:188px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.creted button{
    width: 370px;
    background: #db4444;
    color: white;
    border: none;
    height:56px;
    border-radius: 4px;
}
.goog{
    background-color: white !important;
    color: black !important;
    border: 1px grey solid !important;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

@media(max-width:992px){
    .back{
        display: none;
    }
    .cont322{
        width: 100%;
        align-items: center;
    }
    .scss{
        width:100%;
    }
}